* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #10131a;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 100%;
    max-width: 430px;
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 12px 18px;
    font-size: 18px;
    font-weight: bold;
}

#game {
    position: relative;
    width: 330px;
    height: 580px;
    margin: auto;
    overflow: hidden;

    background:
        linear-gradient(
            90deg,
            #222 0%,
            #333 8%,
            #444 8%,
            #444 92%,
            #333 92%,
            #222 100%
        );

    border: 5px solid #777;
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}

/* Road */
#game::before,
#game::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 5px;
    background: white;
    opacity: 0.8;
}

#game::before {
    left: 45px;
}

#game::after {
    right: 45px;
}

/* Moving road lines */
.road-line {
    position: absolute;
    width: 7px;
    height: 90px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.line1 {
    top: -100px;
}

.line2 {
    top: 80px;
}

.line3 {
    top: 260px;
}

.line4 {
    top: 440px;
}

/* Cars */
.car {
    position: absolute;
    width: 58px;
    height: 85px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 42px;
    border-radius: 12px;

    user-select: none;
}

#player {
    bottom: 35px;
    left: 136px;
    background: #e53935;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.enemy {
    top: -100px;
    left: 80px;
    background: #1976d2;
}

/* Controls */
.controls {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 18px;
}

.controls button {
    width: 85px;
    height: 60px;

    border: none;
    border-radius: 16px;

    background: #252b38;
    color: white;

    font-size: 30px;
    font-weight: bold;

    box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}

.controls button:active {
    transform: scale(0.92);
    background: #3d4658;
}
